<br><br>
<!-- Page Content -->
<div class="container">

<form id="calculator-selector">
  <input type="radio" name="calculator-selector" value="square-calculator" > Rectangle<br>
  <input type="radio" name="calculator-selector" value="cone-calculator"> Cone<br>
  <input type="radio" name="calculator-selector" value="cylinder-calculator"> Cylinder<br>
</form>
  <div id="calculator-container" class="calculator-container">
<p>Please select a calculator type.</p>
  </div>


</div>