<%#= form_with(model: contact, local: true) do |form| %>
  <%# if contact.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>-->

<!--      <ul>-->
      <%# contact.errors.full_messages.each do |message| %>
<!--        <li><%#= message %></li>-->
      <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

<!--  <div class="field form-group col-md-6">-->
    <%#= form.label :name %>
    <%#= form.text_field :name, { class: 'form-control', placeholder: "Your Name" } %>
<!--  </div>-->

<!--  <div class="field form-group col-md-6">-->
    <%#= form.label :phone %>
    <%#= form.text_field :phone, { class: 'form-control', placeholder: "Enter Phone" } %>
<!--  </div>-->

<!--  <div class="field form-group col-md-6">-->
    <%#= form.label :email %>
    <%#= form.text_field :email, { class: 'form-control', aria: {describedby: "emailHelp"}, placeholder: "Enter email" } %>
<!--  </div>-->

<!--  <div class="field form-group col-md-12">-->
    <%#= form.label :message %>
    <%#= form.text_area :message, { class: 'form-control', placeholder: '', rows: 5} %>
<!--  </div>-->

<!--  <div class="actions form-group col-md-6">-->
    <%#= form.submit "Send Message" %>
<!--  </div>-->
<%# end %>

<!-- www.123formbuilder.com script begins here -->
<script type="text/javascript" defer src="//www.123formbuilder.com/embed/4550376.js" data-role="form" data-default-width="650px"></script>
<!-- www.123formbuilder.com script ends here -->
