<!-- Page Content -->
<div class="container body-header">
  <br>
  <!-- Content Row -->
  <div class="row ">
    <!-- Map Column -->
    <div class="col-lg-6 mb-4 contact-form-col">
      <%= render 'form', contact: @contact %>
    </div>
    <!-- Contact Details Column -->
    <div class="col-lg-6 mb-4 contact-form-col">
      <h3 class="text-underline">Sales and Operations</h3>
      <p>
        8560 Island Hwy S.
        <br>Fanny Bay
        <br>V9K 2E1
        <br>
      </p>
      <p>
        Phone Terry at: (250) 228-2894
      </p>
    </div>
  </div>
</div>
<div class="container text-center">
  <%= link_to image_tag("map-trim.png", alt: 'Google Map', class: 'contact-map'), 'https://www.google.ca/maps/place/8560+Island+Hwy+S,+Fanny+Bay,+BC+V0R+1W0/@49.4638479,-124.8329418,13z/data=!4m5!3m4!1s0x548867a15fe7823d:0x5a735182bb6c0fbd!8m2!3d49.4638462!4d-124.7979227' %>
</div>
<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Contact</li>
  </ol>
</div>

<!-- /.container -->

