<!-- Banner area -->
<section class="banner_area banner_area_contact caption-text" data-stellar-background-ratio="0.5">
  <h2>Contact Us</h2>
  <ol class="breadcrumb">
    <li><a class="caption-text" href="/">Home</a></li>
    <li><a href="#" class="caption-text active">Contact Us</a></li>
  </ol>
</section>
<!-- End Banner area -->

<!-- Map -->
<!--<div class="contact_map">-->
<!--  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7031.788700644562!2d-124.80949623087645!3d49.46616220165179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548867a15fe7823d%3A0x5a735182bb6c0fbd!2s8560+Island+Hwy+S%2C+Fanny+Bay%2C+BC+V0R+1W0%2C+Canada!5e0!3m2!1sen!2sau!4v1547443830706" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
  <!--  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d233533.81021805512!2d90.44069804466251!3d23.85534870087626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1482565625375"></iframe>-->
<!--</div>-->
<!-- End Map -->
<!-- Map -->
<div class="contact_map">
<iframe width="600" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=49%C2%B027'26.8%22N%20124%C2%B047'04.8%22W&key=AIzaSyDiEM5PMBLMQzBaZRxn-fUdYN1uGelDpgU" allowfullscreen></iframe>
</div>
<!-- End Map -->
<!-- All contact Info -->
<section class="all_contact_info">
  <div class="container">
    <div class="row contact_row">
      <div class="col-sm-6 contact_info">
        <br><br>
        <h2>Get In Touch</h2>
        <hr>
        <p>Feel free to get in touch with our knowledgable team for any questions or concerns you may have.
        <div class="location">
          <div class="address">
            <a>8560 Island Hwy S. Fanny Bay, BC</a>
            <a>Call Terry at: (250) 228-2894</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 contact_info send_message">
        <%= render 'form', contact: @contact %>
      </div>
    </div>
  </div>
</section>
