<div class="container body-header">
  <br>
  <h3>Thank you for contacting us.</h3>
  <br>
  <p>We will be in touch with you shortly.</p>
  <br>
  <%= link_to "Back", '/', class: 'button_all' %>
  <br>
</div>