<footer id="footer" class="footer_area">
  <div class="container">
    <div class="footer_row row">
      <div class="col-md-3 col-sm-6 footer_about">
        <h2><span class="logo-initial-cap">R</span>osewall Gravel Pit</h2>
        <!--        <img src="images/footer-logo.png" alt="">-->
      </div>
      <div class="col-md-3 col-sm-6 footer_about quick">
        <h2>Quick links</h2>
        <ul class="quick_link">
          <%= render 'layouts/footer_navigation_links' %>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6 footer_about">
        <h2>CONTACT US</h2>
        <address>
          <p>Have questions, comments or just want to say hello:</p>
          <ul class="my_address">
            <li><a href="/contact"><i class="fa fa-envelope" ria-hidden="true"></i>Email Us</a></li>
            <li><a href="tel:2502282894" class="nav-link phone-call-to-action"><i class="fa fa-phone"></i><%#= image_tag('phone.png', alt: 'Phone Icon', class: 'icon-img icon-img-link') %>  Call Us At 228-2894</a></li>
            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span>8560 Island Highway S., Fanny Bay, BC, V9k 2E1</span></a>
            <li><a href="/contact"><i class="fa fa-clock"></i>Mon - Fri 08:00 - 17:00</a></li>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 footer_about">
    </div>
  </div>
  <div class="copyright_area">
    Hosted by <a href="https://www.shattereddesign.xyz">Shattered Design</a> With help from <a href="http://www.mywayrouting.com">MyWay Routing</a>
  </div>
</footer>