<%# add navigation links to this file %>
<li class=''><a href="/" class=""><i class="fa fa-chevron-right"></i>Home</a></li>
<li class=''><a href="/products" class=""><i class="fa fa-chevron-right"></i>Products & Services</a></li>
<li class=''><a href="/calculator" class=""><i class="fa fa-chevron-right"></i>Calculator</a></li>
<li class=''><a href="/contact" class=""><i class="fa fa-chevron-right"></i>Contact</a></li>

