<%# add navigation links to this file %>
<li class='nav-item-black '><a href="/" class="">Home</a></li>
<li class='nav-item-black '><a href="/products" class="">Products</a></li>
<li class='nav-item-black '><a href="/delivery" class="">Delivery</a></li>
<li class='nav-item-black '><a href="/calculator" class="">Calculator</a></li>
<li class='nav-item-black '><a href="/contact" class="">Contact</a></li>

